/* Define standard variables and values for website */
$bgcolor: lightblue;
$textcolor: darkblue;
$fontsize: 18px;

/* Use the variables */
body {
   color: $textcolor;
  font-size: $fontsize;

}

.header{
    background-color: #ffffff;
  color: #000000;
   display: flex;
  justify-content: space-between;
  align-items: center;
 }
.hellosass{
    
}

.pageName{

}
 

.btn {
    display: flex;
    gap: 10px;


    
    button {

        align-self:center;
        background:transparent;
        padding:1rem 1rem;
        margin:0 1rem;
        transition:all .5s ease;
        color:#000000;
        letter-spacing:1px;
        outline:none;
        box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);
        border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
      
         &:hover{
           box-shadow:2px 8px 4px -6px hsla(0,0%,0%,.3);
        } 
        &.lined.thick{
           border:solid 37px #000000;
        }

      &:hover {
        background-color: #ddd;
      }
    }
  }





  

  .products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
   
    .product {

      width: 200px; 
      background-color: #ddd;
    max-width: 520px;
      align-self:center;
      background:transparent;
       transition:all .5s ease;
      color:#000000;
       outline:none;
      box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, 0.2);
      border-radius: 25px 2px 2px 5px/5px 25px 15px 25px;
     padding: 10px;
      border:solid 4px #000000;
    }
     
    .productDeltels{
        text-align: center;

    }
  }
 


.checkbox{
    size: 10px;
}


.label{
  font-size: 20px;
  padding-left: 10px;
  padding-right: 80px;

}

.addbrodbtn{

  align-self:center;
  background:transparent;
  padding:1rem 1rem;
  margin:0 1rem;
  transition:all .5s ease;
  color:#b30000;
  letter-spacing:1px;
  outline:none;
  box-shadow: 20px 38px 34px -26px hsla(0, 88%, 44%, 0.2);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;

   &:hover{
     box-shadow:2px 8px 4px -6px hsla(0,0%,0%,.3);
  } 
  &.lined.thick{
     border:solid 37px #bb0808;
  }

&:hover {
  background-color: #e41919;
}

}


.btnd {
  display: flex;
  gap: 10px;


  
  button {

      align-self:center;
      background:transparent;
      padding:.1rem 1rem;
      margin:0 1rem;
      transition:all .5s ease;
      color:#000000;
      letter-spacing:1px;
      outline:none;
      box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);
      border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    
       &:hover{
         box-shadow:2px 8px 4px -6px hsla(0,0%,0%,.3);
      } 
      &.lined.thick{
         border:solid 37px #000000;
      }

    &:hover {
      background-color: #c02828;
    }
  }
}





  .footer{
    text-align: center;
    font-size: 20px;
    color: #000;


  }